.contenedor{
    width: 100%;
    height: 400px;
    background-color: aquamarine;
    top: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0px;
}

#contenidos {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    flex-direction: column;
}

.caja {
    top: 10px;
    height: 100%;
    border: 4px solid gray;
    
}

#uno.caja {
    background-color:rgb(227, 126, 10);
    flex-grow: 1;
}

#dos.caja {
    background-color: rgb(90, 210, 30);
    flex-grow: 1;
}

#tres.caja {
    background-color: rgb(30, 96, 210);
    flex-grow: 1;
}